<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username</label>
        <input type="text" formControlName="name" />

        @if (f['name'].touched && f['name'].invalid) {
        <div>
            @if (f['name'].errors?.['required']) {
            <small>Username is required.</small>
            }
            @if (f['name'].errors?.['minlength']) {
            <small>Minimum 3 characters required.</small>
            }
        </div>
        }
    </div>

    <div>
        <label>Email</label>
        <input type="email" formControlName="email" />

        @if (f['email'].touched && f['email'].invalid) {
        <div>
            @if (f['email'].errors?.['required']) {
            <small>Email is required.</small>
            }
            @if (f['email'].errors?.['email']) {
            <small>Enter a valid email.</small>
            }
        </div>
        }
    </div>

    <div>
        <label>Password</label>
        <input type="password" formControlName="password" />

        @if (f['password'].touched && f['password'].invalid) {
        <div>
            @if (f['password'].errors?.['required']) {
            <small>Password is required.</small>
            }
            @if (f['password'].errors?.['minlength']) {
            <small>Minimum 6 characters required.</small>
            }
        </div>
        }
    </div>

    <button type="submit">Register</button>
</form>